<ul class="list-group">
        {{#each todos}}
                <a class="list-group-item" href="/todo/{{id}}">{{Title}}</a>
        {{/each}}
</ul>

<a class="btn btn-primary" href="/todo/new" role="button">
        New Todo
</a>

